extends layout


block content
  div(class="grad")
      div(class="top-bar")
        div(class="top-bar-left")
          ul(class="menu")
            li: img(src="/images/logo.png")
            li: div(class="clock" style="margin:2em;")
                div(class="message")
        div(class="top-bar-right" id='menu')
          ul(class="dropdown menu" data-dropdown-menu)
            li: img(src="images/avatar1.png" alt="joueur 1" width="50px" height="50px")
            li(id="pseudo1") #{pseudo1}
            

            li: img(src="images/avatar2.png" alt="joueur 2" width="50px" height="50px")
            li(id="pseudo2") #{pseudo2}
            

            li
              a(href="/") how to play ?
              ul(class="menu")
                li manger le plus
                li de bols de
                li riz !!!
            li 
              a(href="") best scores
              ul(class="menu")
        
                
  