
html {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::selection { background: transparent; color:inherit; }
::-moz-selection { background: transparent; color:inherit; }

body {
  height: 512px;
  border: solid black 2px;
  border-radius: 5px;
  }
  .header {
  text-align: center;
  background: #074E68;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 2.5rem;
  padding-bottom: 4.9rem; }
  .header .headline {
    color: white; }

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%; }
  .header-subnav li {
    float: none;
    display: inline-block; }
    .header-subnav li a {
      padding: 0.9rem 1rem;
      font-size: 0.75rem;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all 0.35s ease-in-out; }
      .header-subnav li a.is-active {
        background: rgba(250, 250, 250, 0.15); }
      .header-subnav li a:hover {
        background: rgba(250, 250, 250, 0.15);
        transition: all 0.35s ease-in-out; }
.grad{
    background:#0fb8ad;
    background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db , #2cb5e8 , #07f0f6,#58f607,#f7f91e,#f7f91e,#fda600,#fd6600,#fd0d00) ;
    background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db , #2cb5e8 , #07f0f6,#58f607,#f7f91e,#f7f91e,#fda600,#fd6600,#fd0d00) ;
    background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db , #2cb5e8 , #07f0f6,#58f607,#f7f91e,#f7f91e,#fda600,#fd6600,#fd0d00) ;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db , #2cb5e8 , #07f0f6,#58f607,#f7f91e,#f7f91e,#fda600,#fd6600,#fd0d00) ;
    
}

p{
  width: 25px;
  height: 25px;
  background-color: black;
  color: red;
  text-align: center;
}
